* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}

body {
    font-family: 'Do Hyeon', sans-serif; 
}

.logo {
    width: 75px;
    height:75px;
}

/* Nav Stuff  */

.nav-header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(14, 199, 212);
    
    
}

.header-login input[type=text], .header-login input[type=password]{
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style-type: none;
    
    
}

ul a:hover {
    color: crimson;
}

ul a {
    padding: 3px;
    text-decoration: none;
    
}

.header-login a:hover {
    color: crimson;
}

.login 
    {
        box-sizing: border-box;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Do Hyeon', sans-serif; 
        margin: 2px;
        
      }

.logout {
    box-sizing: border-box;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Do Hyeon', sans-serif; 
    margin: 2px;
 
    
    margin-bottom: 1px;
  }

  .Signup {
    box-sizing: border-box;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Do Hyeon', sans-serif; 
    margin: 2px;
    
  }

  .Signup:hover,.logout:hover,.login:hover {
      color:  crimson;
      cursor: pointer;
      
  }

main {

    position: absolute;
    top: 18vh;
    left: 50%;
    border: 1px;
    padding: 18px;

}

.header-login {
    display: flex;
}



/* Signup Page Styling */

.wrapper-main {
    position: absolute;
    top: 50%;
    left: 50%;

}

.wrapper-main input[type=password]{
    
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.wrapper-main input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.wrapper-main .submit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Do Hyeon', sans-serif; 
}

.wrapper-main .submit:hover {
    color:  crimson;
    cursor: pointer;
}